<div class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to lists_path do %>
    <%= image_tag "logo.jpg", alt: "cinemalogo", class: "logo" %>
  <% end %>
    <p class="navbar-nav">WATCH LIST</p>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Lists", lists_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
</div>
